{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    .page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .register-container {
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: 276px;
        gap: 40px;
        align-items: center;
        color: var(--text-light);
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .password {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        width: 100%;
    }

        
    </style>
{% endblock %}

{% block body %}
<div class="page">
    <div class="register-container">
        <h1>Register</h1>
        <form>
            <div class="inputs">
                    {{ include('components/Input.html.twig', { id: 'username', label: 'Username', name: 'username', placeholder: 'Your Username' }) }}
                    {{ include('components/Input.html.twig', { id: 'email', label: 'Email', type: "email", name: 'email', placeholder: 'your@email.com' }) }}
                    {{ include('components/Input.html.twig', { id: 'password', label: 'Password',type: "password", name: 'password', placeholder: 'Write your password' }) }}
                    {{ include('components/Input.html.twig', { id: 'passwordConfirm', label: 'Password',type: "password", name: 'passwordConfirm', placeholder: 'Confirm your password' }) }}
            </div>
            {{ include('components/Button.html.twig', { label: 'Register' }) }}
        </form>
        <div class="footer">
            <p>Allready have an account?</p>
            {{ include('components/Link.html.twig', { href: 'login', variant: "blue", text: 'Log In here' }) }}
        </div>
    </div>
</div>
{% endblock %}
