{# templates/components/Button.html.twig #}
<button 
    type="{{ type|default('button') }}"
    class="
        button 
        button-{{ size|default('medium') }}
        {{ variant|default('primary') == 'primary' ? 'button-primary' : 'button-secondary' }}
        {{ state|default('default') == 'hover' ? (variant|default('primary') == 'primary' ? 'button-primary-hover' : 'button-secondary-hover') : '' }}
        {{ class|default('') }}
    "
    {% if state|default('default') == 'disabled' or disabled|default(false) %}disabled{% endif %}
    {{ attributes|default('') }}
>
    {% if leftIcon is defined and leftIcon %}
        <span class="button-icon button-icon-left">
            {% include 'components/Icon.html.twig' with { 'iconName': leftIcon, 'size': iconSize|default('sm') } %}
        </span>
    {% endif %}
    
    {% if label is defined %}
        <span class="button-label">{{ label }}</span>
    {% else %}
        <span class="button-label">{{ content|default('Button') }}</span>
    {% endif %}
    
    {% if rightIcon is defined and rightIcon %}
        <span class="button-icon button-icon-right">
            {% include 'components/Icon.html.twig' with { 'iconName': rightIcon, 'size': iconSize|default('sm') } %}
        </span>
    {% endif %}
</button>