{# templates/components/SmallButton.html.twig #}
<button 
    type="{{ type|default('button') }}"
    class="
        button 
        button-small
        {% if disabled|default(false) %}button-disabled{% else %}{{ variant|default('primary') == 'primary' ? 'button-primary' : 'button-secondary' }}{% endif %}
        {{ class|default('') }}
    "
    {% if disabled|default(false) %}disabled{% endif %}
    {{ attributes|default('') }}
>
    {% if leftIcon is defined and leftIcon %}
        <span class="button-icon button-icon-left">
            {% include 'components/Icon.html.twig' with { 'iconName': leftIcon, 'size': 'sm' } %}
        </span>
    {% endif %}
    
    {% if label is defined %}
        <span class="button-label">{{ label }}</span>
    {% else %}
        <span class="button-label">{{ block('content')|default('Button') }}</span>
    {% endif %}
    
    {% if rightIcon is defined and rightIcon %}
        <span class="button-icon button-icon-right">
            {% include 'components/Icon.html.twig' with { 'iconName': rightIcon, 'size': 'sm' } %}
        </span>
    {% endif %}
</button>