{# templates/components/VerySmallButton.html.twig #}
<button 
    type="{{ type|default('button') }}"
    class="
        button 
        button-very-small
        {% if disabled|default(false) %}
            button-disabled
        {% else %}
            {% if variant|default('primary') == 'outline' %}
            button-outline
            {% else %}
            {{ variant|default('primary') == 'primary' ? 'button-primary' : 'button-secondary' }}
            {% endif %}
        {% endif %}
        {{ class|default('') }}
    "
    {% if disabled|default(false) %}disabled{% endif %}
    {{ attributes|default('') }}
>
    {% if leftIcon is defined and leftIcon %}
        <span class="button-icon button-icon-left">
            {% include 'components/Icon.html.twig' with { 'iconName': leftIcon, 'size': 'sm' } %}
        </span>
    {% endif %}
    
    {% if label is defined %}
        <span class="button-label">{{ label }}</span>
    {% else %}
        <span class="button-label">{{ block('content')|default('Button') }}</span>
    {% endif %}
</button>